#movement {
  height: 10rem;
  width: 10rem;

  .movement-top {
    display: flex;
    justify-content: center;

    > button {
      height: 4rem;
      width: 2rem;
      font-size: 1.5rem;
    }
  }

  .movement-mid {
    display: flex;
    justify-content:space-between;

    > button {
      height: 2rem;
      width: 4rem;
      font-size: 1.5rem;
    }
  }

  .movement-bot {
    display: flex;
    justify-content: center;

    > button {
      height: 4rem;
      width: 2rem;
      font-size: 1.5rem;
    }
  }
}