#app {
  height: 100vh;

  #display-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
  }
  
  #board-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }
  
  #controls-wrap {
    display: flex;
    height: 40%;

    #movement-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
    }

    #actions-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 50%;
    }
  }
}